/config.guess
/config.sub
/config.h.in
/config.h
/config.status
/config.log
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/stamp-*
/ltmain.sh
/missing
/aclocal.m4
/autom4te.cache
/m4
Makefile.in
Makefile
*~
.deps/
.libs/
*.o
*.lo
*.la
core
/lib/libumberlog.pc
/t/test_perf
/t/test_umberlog
/debian/autoreconf.*
/debian/build-tree/
/debian/files
/debian/*debhelper*
/debian/*substvars
/debian/tmp/
/debian/libumberlog-dev/
/debian/libumberlog0/
/debian/libumberlog1/
