#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS += -O-Bdebian/build-tree

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_installdocs:
	dh_installdocs --link-doc=libcee-syslog0

%:
	dh $@ --with autoreconf
