#!/usr/bin/make -f
# -*- makefile -*-

export DH_OPTIONS += -O-Bdebian/build-tree

override_dh_installdocs:
	dh_installdocs --link-doc=libumberlog3

override_dh_installchangelogs:
	dh_installchangelogs NEWS

override_dh_makeshlibs:
	dh_makeshlibs -Xlibumberlog_preload.so

%:
	dh $@ --with autoreconf
